{% extends 'base.html.twig' %}


{% block body %}

<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css" />


</head>
<body>
{{ dump() }}
<br />

<h2 align="center"><a>Tasks Calendar</a></h2>
<br />
<div class="container">
    <div id="calendar"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
<script>

    $(document).ready(function() {
        var calendar = $('#calendar').fullCalendar({
            editable:true,
            header:{
                left:'prev,next today',
                center:'title',
                right:'month,agendaWeek,agendaDay'
            },
            events: [
                {% for task in tasks %}
                {
                    title: '{{ task.name }}',
                    description: '',
                    start: '{{ task.createDate | date('Y/m/d') }}',
                    end: '{{ task.dueDate | date('Y/m/d') }}',
                    id: '{{ task.id }}'
                },
                {% endfor %}
            ],
            selectable:true,
            selectHelper:true,
        });
    });

</script>
</body>
</html>


{% endblock %}