{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header">Inventory</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Owner</th>
        </tr>
        </thead>
        <tbody>

        {% for inventory in inventory %}
            <tr>
                <th scope="row">{{ inventory.id }}</th>
                <td>{{ inventory.name }}</td>
                <td>{{ inventory.owner }}</td>
                <td>
                    <a href="/Inventory/details/{{ inventory.id }}" class="tn btn-success">Details</a>
                    <a href="/Inventory/edit/{{ inventory.id }}" class="tn btn-default">Edit</a>
                    <a href="/Inventory/delete/{{ inventory.id }}" class="tn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
